<!DOCTYPE html>
<html>
<head>
    <title>Input Validator</title>
    <link rel="stylesheet" href="InputValidator.css">
</head>
<body>
    <h1>Field Validation Demo</h1>
    <div id="app">
        <label>
            <p>Required field</p>
            <input type="text" v-model="inpAddress">
        </label>
        <p v-bind:class="myClass"><code>{{ feedbackText }}</code></p>
        <hr />
        <label>
            <p>Required field</p>
            <p>Numeric field</p>
            <input type="text" v-model="inpAddress2">
        </label>
        <p v-bind:class="myClass2"><code>{{ feedbackText2 }}</code></p>
        <hr />
        <label>
            <p>Required field</p>
            <p>Must have atleast 1 lowercase letter</p>
            <p>Must have atleast 1 uppercase letter</p>
            <p>Must have atleast 1 numeric character</p>
            <p>Must have atleast 1 special character</p>
            <p>Must be atleast 10 characters</p>
            <input type="text" v-model="inpAddress3">
        </label>
        <p v-bind:class="myClass3"><code>{{ feedbackText3 }}</code></p>
        <hr />
        <label>
            <p>Required field</p>
            <p>Email field</p>
            <input type="text" v-model="inpAddress4">
        </label>
        <p v-bind:class="myClass4"><code>{{ feedbackText4 }}</code></p>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="InputValidator.js"></script>
</body>
</html>
